user_preferences_telegram.json
{
  "name": "[DO_NOT_TOUCH]user_preferences_telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        -80
      ],
      "id": "d2e2a03b-f43e-447c-9bfd-4871982cda26",
      "name": "Telegram Trigger",
      "webhookId": "5c16297a-2238-44c8-a10e-ab80598eac8c",
      "credentials": {
        "telegramApi": {
          "id": "zSk4rL1pIr75mZ7O",
          "name": "Beshoy_telegram"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "I need you to filter messages. If and only if the message seems to be a request to find rental announcements then reply \"YES\" otherwise reply \"NO\"",
              "role": "model"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        32,
        -80
      ],
      "id": "041ec348-c837-4d0c-aa90-2faf628f8700",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "g3K0wfGa2MoQLpsz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbc33223-831b-4180-bbcf-d38e4859d26c",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -80
      ],
      "id": "873ea2ff-d2e6-4983-a12f-abc52c66ce4a",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0b820a3-e32d-4fdc-a482-50e982cd1c67",
              "leftValue": "={{ $('Message a model').item.json.content.parts[0].text }}",
              "rightValue": "NO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        96
      ],
      "id": "567f9a09-85f7-4732-98d7-5074d4e70c7a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "Hello, I can find house renting announcements for you and automatically contact the landlord. \n\nBut before being able to do so, I need you to provide me with these details:\n- city\n- budget\n- minimum number of rooms\n- furnishment condition\n\nPlease click \"Respond\", then \"Visit Site\", write you preferences and send them. Don't worry, a copy of this message will be available in on the webpage. DO NOT REPLY IN TELEGRAM as this will trigger a parallel request.",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -352
      ],
      "id": "3f31e9cf-d86a-450f-9786-484e2103f74c",
      "name": "Send message and wait for response",
      "webhookId": "bd873646-2b87-44a6-a247-038c5095e272",
      "credentials": {
        "telegramApi": {
          "id": "zSk4rL1pIr75mZ7O",
          "name": "Beshoy_telegram"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You need to interpret free text and structure it in JSON. I need the following details: city, budget, number of rooms, furnishment condition. If something is not present you need to code it as NaN.\n\nJSON example:\n{\n\"city\": \"Amsterdam\",\n\"Budget_MIN\": 1000,\n\"Budget_MAX\": 5000,\n\"N_rooms\": 2,\n\"Furnished\": True\n}\n\nThis JSON will be used for database insertion, so make sure it is parsable.\n\nCity must be in the Netherlands, budget must be interpreted and if no minimum is provided that put NaN, same for maximum. In case there's just one number, then this is the maximum. In case there's 2 numbers, the lower one is the min and the higher is max. Furnished can be True if the user wants a furnished apartment, False if he wants an unfurnished one and NaN if it doesn't matter or not specified. \n\nIF the user is citing a non dutch city your output must be \"Non dutch city\".\n\nAVOID ALL THE \"\\n\" and \"\\\" characters."
            },
            {
              "content": "={{ $json.data.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "low"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1200,
        -352
      ],
      "id": "9dfd6fc8-07e0-4008-a497-8c00f45eb695",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "wq0ekXq91O0ZBoNZ",
          "name": "hachathon_llm"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "Z1GndFcG45co7z9G",
          "mode": "list",
          "cachedResultName": "user_data",
          "cachedResultUrl": "/projects/dJmAxbI6ymidmcgS/datatables/Z1GndFcG45co7z9G"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        720,
        -352
      ],
      "id": "09643d4d-c429-4d2c-a8cf-904130661cec",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "Z1GndFcG45co7z9G",
          "mode": "list",
          "cachedResultName": "user_data",
          "cachedResultUrl": "/projects/dJmAxbI6ymidmcgS/datatables/Z1GndFcG45co7z9G"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        704,
        -128
      ],
      "id": "da989916-162c-414d-94aa-2600542bf82d",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "=You already submitted an announcement automation. Would you like to modify the previous details?\n\nLocation: {{ $json.location ?? 'not specified' }}\nMax price: {{ $json.max_price ?? 'not specified' }}\nMin price: {{ $json.min_price ?? 'not specified' }}\nRooms: {{ $json.rooms ?? 'not specified' }}\nFurnished: {{\n  $json.furnished === 1\n    ? 'furnished'\n    : $json.furnished === 0\n      ? 'unfurnished'\n      : 'not specified'\n}}\n\nIn case you'd like to proceed, please click \"Yes\", then \"Visit Site\".",
        "approvalOptions": {
          "values": {
            "approveLabel": "✅ Yes"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -112
      ],
      "id": "db25a764-c24e-4375-8fb8-42e68c6fd802",
      "name": "Send message and wait for response1",
      "webhookId": "bd873646-2b87-44a6-a247-038c5095e272",
      "credentials": {
        "telegramApi": {
          "id": "zSk4rL1pIr75mZ7O",
          "name": "Beshoy_telegram"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Z1GndFcG45co7z9G",
          "mode": "list",
          "cachedResultName": "user_data",
          "cachedResultUrl": "/projects/dJmAxbI6ymidmcgS/datatables/Z1GndFcG45co7z9G"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1008,
        -112
      ],
      "id": "12402a77-6366-440d-8e9e-de6b19d342ff",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Z1GndFcG45co7z9G",
          "mode": "list",
          "cachedResultName": "user_data",
          "cachedResultUrl": "/projects/dJmAxbI6ymidmcgS/datatables/Z1GndFcG45co7z9G"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "max_price": "={{ $json.output[0].content[0].text.Budget_MAX }}",
            "min_price": "={{ $json.output[0].content[0].text.Budget_MIN }}",
            "user_id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "rooms": "={{ $json.output[0].content[0].text.N_rooms }}",
            "furnished": "={{ $json.output[0].content[0].text.Furnished }}",
            "location": "={{ $json.output[0].content[0].text.city }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "max_price",
              "displayName": "max_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rooms",
              "displayName": "rooms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "min_price",
              "displayName": "min_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "furnished",
              "displayName": "furnished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1552,
        -352
      ],
      "id": "d8f51a73-f483-48db-83e3-2158c0cbc5e7",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87675b12-cbf4-47da-af00-e4530b8b8d2c",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -112
      ],
      "id": "30f121cc-0f98-44f7-bb34-79672405d54d",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "Please provide me with the new details:\n- city\n- budget\n- minimum number of rooms\n- furnishment condition\n\nPlease click \"Respond\", then \"Visit Site\", write you preferences and send them. Don't worry, a copy of this message will be available on the webpage. DO NOT REPLY IN TELEGRAM as this will trigger a parallel request.",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        -192
      ],
      "id": "ef894fd8-f8ac-4576-a8cd-b0430ce79ce7",
      "name": "Send message and wait for response2",
      "webhookId": "bd873646-2b87-44a6-a247-038c5095e272",
      "credentials": {
        "telegramApi": {
          "id": "zSk4rL1pIr75mZ7O",
          "name": "Beshoy_telegram"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You need to interpret free text and structure it in JSON. I need the following details: city, budget, number of rooms, furnishment condition. If something is not present you need to code it as NaN.\n\nJSON example:\n{\n\"city\": \"Amsterdam\",\n\"Budget_MIN\": 1000,\n\"Budget_MAX\": 5000,\n\"N_rooms\": 2,\n\"Furnished\": True\n}\n\nThis JSON will be used for database insertion, so make sure it is parsable.\n\nCity must be in the Netherlands, budget must be interpreted and if no minimum is provided that put NaN, same for maximum. Furnished can be True if the user wants a furnished apartment, False if he wants an unfurnished one and NaN if it doesn't matter or not specified. \n\nIF the user is citing a non dutch city your output must be \"Non dutch city\".\n\nAVOID ALL THE \"\\n\" and \"\\\" characters."
            },
            {
              "content": "={{ $json.data.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "low"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1984,
        -192
      ],
      "id": "d923c826-c6c2-4c18-bbab-863c15315c91",
      "name": "Message a model3",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "wq0ekXq91O0ZBoNZ",
          "name": "hachathon_llm"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Z1GndFcG45co7z9G",
          "mode": "list",
          "cachedResultName": "user_data",
          "cachedResultUrl": "/projects/dJmAxbI6ymidmcgS/datatables/Z1GndFcG45co7z9G"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "max_price": "={{ $json.output[0].content[0].text.Budget_MAX }}",
            "min_price": "={{ $json.output[0].content[0].text.Budget_MIN }}",
            "location": "={{ $json.output[0].content[0].text.city }}",
            "furnished": "={{ $json.output[0].content[0].text.Furnished }}",
            "rooms": "={{ $json.output[0].content[0].text.N_rooms }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "max_price",
              "displayName": "max_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rooms",
              "displayName": "rooms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "min_price",
              "displayName": "min_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "furnished",
              "displayName": "furnished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2336,
        -192
      ],
      "id": "cb63270f-a40a-402b-b1e3-6d4019e001b9",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Your request have been saved with the following details: \n\nLocation: {{ $json.location ?? 'not specified' }} \nMax price: {{ $json.max_price ?? 'not specified' }} \nMin price: {{ $json.min_price ?? 'not specified' }} \nRooms: {{ $json.rooms ?? 'not specified' }} \nFurnished: {{   $json.furnished === 1     ? 'furnished'     : $json.furnished === 0       ? 'unfurnished'       : 'not specified' }}\n\nWe will start apply to houses for you and send you notifications for each request completed.\n\nYou can access this dashboard to modify your data, provide us access to your calendar and email and follow the applications: https://ideologically-nonsubliminal-danyel.ngrok-free.dev/webhook/besh\\\\_dashboard?user\\\\_id={{ $('Telegram Trigger').item.json.message.from.id }}\n\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        -384
      ],
      "id": "af471259-df70-46b7-947d-303757237c22",
      "name": "Send a text message",
      "webhookId": "01ec2d68-8821-4060-8483-658228014d41",
      "credentials": {
        "telegramApi": {
          "id": "zSk4rL1pIr75mZ7O",
          "name": "Beshoy_telegram"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Your request have been saved with the following details: \n\nLocation: {{ $json.location ?? 'not specified' }} \nMax price: {{ $json.max_price ?? 'not specified' }} \nMin price: {{ $json.min_price ?? 'not specified' }} \nRooms: {{ $json.rooms ?? 'not specified' }} \nFurnished: {{   $json.furnished === 1     ? 'furnished'     : $json.furnished === 0       ? 'unfurnished'       : 'not specified' }}\n\nWe will start apply to houses for you and send you notifications for each request completed.\n\nYou can access this dashboard to modify your data, provide us access to your calendar and email and follow the applications: https://ideologically-nonsubliminal-danyel.ngrok-free.dev/webhook/besh\\\\_dashboard?user\\\\_id={{ $('Telegram Trigger').item.json.message.from.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2560,
        -192
      ],
      "id": "24949b87-6ec4-41d3-a047-1bc34e070472",
      "name": "Send a text message1",
      "webhookId": "01ec2d68-8821-4060-8483-658228014d41",
      "credentials": {
        "telegramApi": {
          "id": "zSk4rL1pIr75mZ7O",
          "name": "Beshoy_telegram"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant which needs to explain people that you can help them in finding a house for rent and apply automatically. Analyze the input from the user and reply accordingly.\n\nBe really brief. Do not ask for details. Do not ask for follow up actions."
            },
            {
              "content": "=User text:\n\n{{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        896,
        112
      ],
      "id": "349ec586-0260-4d6e-8a33-d3fe44c235a8",
      "name": "Message a model4",
      "credentials": {
        "openAiApi": {
          "id": "LOL7Ftk0YBKhx1Th",
          "name": "OpenAi account new"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ $json.output[0].content[0].text }}\n\nIn case you'd like to proceed, please click \"Yes\", then \"Visit Site\".",
        "approvalOptions": {
          "values": {
            "approveLabel": "✅ Yes"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        112
      ],
      "id": "d05f5f4f-7d4c-49be-8819-f0bc467b5205",
      "name": "Send message and wait for response3",
      "webhookId": "b665674c-ff4d-4ec3-b8f7-a9a6e5aeaae0",
      "credentials": {
        "telegramApi": {
          "id": "zSk4rL1pIr75mZ7O",
          "name": "Beshoy_telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87675b12-cbf4-47da-af00-e4530b8b8d2c",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        112
      ],
      "id": "f61af81f-48c2-4374-a26f-2115d28fad61",
      "name": "If3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response2": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send message and wait for response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Send message and wait for response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "003c4d57-e416-4b50-b7e2-a4e124ad93bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb4948fe641076e7dcbd8c395c7dc887d3ffb358ba687397c39c2d35ecc3621"
  },
  "id": "mI0NJfyprIg91syw",
  "tags": []
}