web_dashboard.json
{
  "name": "[DO_NOT_TOUCH]web_dashboard",
  "nodes": [
    {
      "parameters": {
        "path": "besh_dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "df4ab6c5-ca75-4e2c-b738-915cbfdd9abc",
      "name": "Webhook - Dashboard Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "your-unique-webhook-id"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Z1GndFcG45co7z9G",
          "mode": "list",
          "cachedResultName": "user_data",
          "cachedResultUrl": "/projects/dJmAxbI6ymidmcgS/datatables/Z1GndFcG45co7z9G"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.query.user_id }}"
            }
          ]
        }
      },
      "id": "bc097674-e882-400c-b035-00d556996868",
      "name": "Get User Preferences",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "mbRrmPFy5jRa0ZxH",
          "mode": "list",
          "cachedResultName": "housing_application",
          "cachedResultUrl": "/projects/dJmAxbI6ymidmcgS/datatables/mbRrmPFy5jRa0ZxH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Webhook - Dashboard Request').item.json.query.user_id }}"
            },
            {
              "keyName": "announcment_id",
              "keyValue": "={{ $json.announcment_id }}"
            }
          ]
        },
        "returnAll": true
      },
      "id": "4b7a0ba3-2c1e-4992-a7d5-830cca207813",
      "name": "Get Housing Applications",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        576,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "e4KMsNG7ScqL3lgz",
          "mode": "list",
          "cachedResultName": "announcments",
          "cachedResultUrl": "/projects/dJmAxbI6ymidmcgS/datatables/e4KMsNG7ScqL3lgz"
        },
        "returnAll": true
      },
      "id": "bd3e2677-397e-44d4-8763-8920e52f0392",
      "name": "Get All Announcements",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst applications = $('Get Housing Applications').all();\nconst announcements = $('Get All Announcements').all();\nconst userPrefs = $('Get User Preferences').first().json;\n\n// Create announcement lookup\nconst announcementMap = {};\nfor (const annItem of announcements) {\n  const ann = annItem.json;\n  announcementMap[ann.announcment_id] = ann;\n}\n\n// Merge data\nconst mergedApplications = applications.map(appItem => {\n  const app = appItem.json;\n  const announcement = announcementMap[app.announcment_id] || {};\n  return {\n    id: `APP-${String(app.id).padStart(4, '0')}`,\n    propertyAddress: announcement.location || 'Unknown',\n    propertyUrl: announcement.announcment_url || '#',\n    propertyUrl: 'https://www.pararius.nl' + (announcement.announcment_url || ''),\n    applicationDate: new Date(app.createdAt).toISOString().split('T')[0],\n    status: app.requent_sent ? 'pending' : 'scheduled',\n    appointmentDate: null,\n    price: `€${announcement.price || 0}`,\n    rooms: userPrefs.rooms || 2,\n    furnished: userPrefs.furnished || false\n  };\n});\n\n// Calculate metrics\nconst total = mergedApplications.length;\nconst refused = mergedApplications.filter(a => a.status === 'refused').length;\nconst scheduled = mergedApplications.filter(a => a.status === 'scheduled').length;\nconst pending = mergedApplications.filter(a => a.status === 'pending').length;\nconst refusalRate = total > 0 ? ((refused / total) * 100).toFixed(1) : 0;\n\nreturn {\n  userPreferences: {\n    city: userPrefs.location || 'Amsterdam',\n    budget: userPrefs.max_price || 1500,\n    minRooms: userPrefs.rooms || 2,\n    furnished: userPrefs.furnished || false\n  },\n  applications: mergedApplications,\n  metrics: {\n    total,\n    refused,\n    scheduled,\n    pending,\n    refusalRate\n  }\n};"
      },
      "id": "8c1cba58-e876-4b36-87a0-e15acc068a13",
      "name": "Merge Application Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst userId = $('Webhook - Dashboard Request').first().json.query.user_id;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Giraffe Housing Assistant - Dashboard</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n</head>\n<body class=\"min-h-screen bg-gradient-to-br from-blue-50 to-indigo-50 p-6\">\n    <div class=\"max-w-7xl mx-auto\">\n        <!-- Header with Branding and Buttons -->\n        <div class=\"mb-8 flex justify-between items-start\">\n            <div class=\"flex items-center gap-4\">\n                <!-- Giraffe Logo -->\n                <svg class=\"w-16 h-16\" viewBox=\"0 0 100 100\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                    <!-- Giraffe Head -->\n                    <ellipse cx=\"50\" cy=\"45\" rx=\"18\" ry=\"22\" fill=\"#F59E0B\"/>\n                    <!-- Spots -->\n                    <circle cx=\"45\" cy=\"40\" r=\"3\" fill=\"#D97706\"/>\n                    <circle cx=\"55\" cy=\"42\" r=\"2.5\" fill=\"#D97706\"/>\n                    <circle cx=\"48\" cy=\"50\" r=\"2\" fill=\"#D97706\"/>\n                    <circle cx=\"56\" cy=\"48\" r=\"2.5\" fill=\"#D97706\"/>\n                    <!-- Neck -->\n                    <rect x=\"45\" y=\"60\" width=\"10\" height=\"35\" rx=\"2\" fill=\"#F59E0B\"/>\n                    <circle cx=\"48\" cy=\"70\" r=\"2\" fill=\"#D97706\"/>\n                    <circle cx=\"52\" cy=\"78\" r=\"2.5\" fill=\"#D97706\"/>\n                    <circle cx=\"47\" cy=\"85\" r=\"2\" fill=\"#D97706\"/>\n                    <!-- Ears -->\n                    <ellipse cx=\"38\" cy=\"35\" rx=\"4\" ry=\"8\" fill=\"#F59E0B\"/>\n                    <ellipse cx=\"62\" cy=\"35\" rx=\"4\" ry=\"8\" fill=\"#F59E0B\"/>\n                    <!-- Horns (ossicones) -->\n                    <rect x=\"40\" y=\"28\" width=\"2\" height=\"6\" fill=\"#92400E\"/>\n                    <circle cx=\"41\" cy=\"27\" r=\"2\" fill=\"#92400E\"/>\n                    <rect x=\"58\" y=\"28\" width=\"2\" height=\"6\" fill=\"#92400E\"/>\n                    <circle cx=\"59\" cy=\"27\" r=\"2\" fill=\"#92400E\"/>\n                    <!-- Eyes -->\n                    <circle cx=\"44\" cy=\"42\" r=\"2\" fill=\"#1F2937\"/>\n                    <circle cx=\"56\" cy=\"42\" r=\"2\" fill=\"#1F2937\"/>\n                    <circle cx=\"44.5\" cy=\"41.5\" r=\"0.8\" fill=\"white\"/>\n                    <circle cx=\"56.5\" cy=\"41.5\" r=\"0.8\" fill=\"white\"/>\n                    <!-- Snout -->\n                    <ellipse cx=\"50\" cy=\"52\" rx=\"8\" ry=\"6\" fill=\"#FBBF24\"/>\n                    <!-- Nostrils -->\n                    <circle cx=\"47\" cy=\"53\" r=\"1\" fill=\"#92400E\"/>\n                    <circle cx=\"53\" cy=\"53\" r=\"1\" fill=\"#92400E\"/>\n                    <!-- Smile -->\n                    <path d=\"M 45 55 Q 50 57 55 55\" stroke=\"#92400E\" stroke-width=\"1.5\" fill=\"none\"/>\n                </svg>\n                \n                <div>\n                    <div class=\"flex items-center gap-2 mb-1\">\n                        <h1 class=\"text-4xl font-bold text-gray-900\">Giraffe Housing Assistant</h1>\n                    </div>\n                    <p class=\"text-gray-600\">Monitor and manage all rental announcement applications</p>\n                </div>\n            </div>\n            <div class=\"flex gap-3\">\n                <button onclick=\"loginGoogle()\" class=\"px-4 py-2 bg-white border-2 border-blue-600 text-blue-600 rounded-lg hover:bg-blue-50 transition-colors font-medium flex items-center gap-2\">\n                    <svg class=\"w-5 h-5\" viewBox=\"0 0 24 24\">\n                        <path fill=\"currentColor\" d=\"M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z\"/>\n                        <path fill=\"currentColor\" d=\"M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z\"/>\n                        <path fill=\"currentColor\" d=\"M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z\"/>\n                        <path fill=\"currentColor\" d=\"M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z\"/>\n                    </svg>\n                    Login with Google\n                </button>\n                <button onclick=\"insertCredentials()\" class=\"px-4 py-2 bg-amber-500 text-white rounded-lg hover:bg-amber-600 transition-colors font-medium\">\n                    Insert Pararius Credentials\n                </button>\n            </div>\n        </div>\n\n        <!-- User Preferences -->\n        <div class=\"bg-white rounded-xl shadow-md p-6 mb-8 border-l-4 border-indigo-500\">\n            <div class=\"flex items-center justify-between mb-4\">\n                <div>\n                    <h2 class=\"text-xl font-bold text-gray-900\">Your Search Preferences</h2>\n                    <p class=\"text-sm text-gray-600 mt-1\">Applications are collected based on these criteria</p>\n                </div>\n                <div id=\"preference-actions\">\n                    <button onclick=\"editPreferences()\" class=\"px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition-colors font-medium\">\n                        Edit Preferences\n                    </button>\n                </div>\n            </div>\n\n            <!-- View Mode -->\n            <div id=\"preferences-view\" class=\"grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6\">\n                <div class=\"bg-gradient-to-br from-blue-50 to-blue-100 p-4 rounded-lg\">\n                    <p class=\"text-sm font-medium text-blue-900 mb-1\">City</p>\n                    <p class=\"text-2xl font-bold text-blue-700\">${data.userPreferences.city}</p>\n                </div>\n                <div class=\"bg-gradient-to-br from-green-50 to-green-100 p-4 rounded-lg\">\n                    <p class=\"text-sm font-medium text-green-900 mb-1\">Maximum Budget</p>\n                    <p class=\"text-2xl font-bold text-green-700\">€${data.userPreferences.budget}/month</p>\n                </div>\n                <div class=\"bg-gradient-to-br from-purple-50 to-purple-100 p-4 rounded-lg\">\n                    <p class=\"text-sm font-medium text-purple-900 mb-1\">Minimum Rooms</p>\n                    <p class=\"text-2xl font-bold text-purple-700\">${data.userPreferences.minRooms} rooms</p>\n                </div>\n                <div class=\"bg-gradient-to-br from-orange-50 to-orange-100 p-4 rounded-lg\">\n                    <p class=\"text-sm font-medium text-orange-900 mb-1\">Furnishment</p>\n                    <p class=\"text-2xl font-bold text-orange-700\">${data.userPreferences.furnished ? 'Furnished' : 'Unfurnished'}</p>\n                </div>\n            </div>\n\n            <!-- Edit Mode (Hidden by default) -->\n            <div id=\"preferences-edit\" class=\"grid grid-cols-1 md:grid-cols-2 gap-6 hidden\">\n                <div>\n                    <label class=\"block text-sm font-medium text-gray-700 mb-2\">City</label>\n                    <input type=\"text\" id=\"edit-city\" value=\"${data.userPreferences.city}\" \n                           class=\"w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-transparent\">\n                </div>\n                <div>\n                    <label class=\"block text-sm font-medium text-gray-700 mb-2\">Maximum Budget (€/month)</label>\n                    <input type=\"number\" id=\"edit-budget\" value=\"${data.userPreferences.budget}\" \n                           class=\"w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-transparent\">\n                </div>\n                <div>\n                    <label class=\"block text-sm font-medium text-gray-700 mb-2\">Minimum Rooms</label>\n                    <input type=\"number\" id=\"edit-rooms\" value=\"${data.userPreferences.minRooms}\" \n                           class=\"w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-transparent\">\n                </div>\n                <div>\n                    <label class=\"block text-sm font-medium text-gray-700 mb-2\">Furnishment</label>\n                    <select id=\"edit-furnished\" class=\"w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-transparent bg-white\">\n                        <option value=\"true\" ${data.userPreferences.furnished ? 'selected' : ''}>Furnished</option>\n                        <option value=\"false\" ${!data.userPreferences.furnished ? 'selected' : ''}>Unfurnished</option>\n                    </select>\n                </div>\n            </div>\n        </div>\n\n        <!-- Metrics -->\n        <div class=\"grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8\">\n            <div class=\"bg-white rounded-xl shadow-md p-6 border-l-4 border-blue-500\">\n                <p class=\"text-gray-500 text-sm font-medium\">Total Applications</p>\n                <p class=\"text-3xl font-bold text-gray-900 mt-2\">${data.metrics.total}</p>\n            </div>\n            <div class=\"bg-white rounded-xl shadow-md p-6 border-l-4 border-green-500\">\n                <p class=\"text-gray-500 text-sm font-medium\">Scheduled Appointments</p>\n                <p class=\"text-3xl font-bold text-gray-900 mt-2\">${data.metrics.scheduled}</p>\n            </div>\n            <div class=\"bg-white rounded-xl shadow-md p-6 border-l-4 border-red-500\">\n                <p class=\"text-gray-500 text-sm font-medium\">Refusal Rate</p>\n                <p class=\"text-3xl font-bold text-gray-900 mt-2\">${data.metrics.refusalRate}%</p>\n                <p class=\"text-sm text-gray-500 mt-1\">${data.metrics.refused} refused</p>\n            </div>\n            <div class=\"bg-white rounded-xl shadow-md p-6 border-l-4 border-yellow-500\">\n                <p class=\"text-gray-500 text-sm font-medium\">Pending Review</p>\n                <p class=\"text-3xl font-bold text-gray-900 mt-2\">${data.metrics.pending}</p>\n            </div>\n        </div>\n\n        <!-- Applications Table -->\n        <div class=\"bg-white rounded-xl shadow-md overflow-hidden\">\n            <div class=\"overflow-x-auto\">\n                <table class=\"w-full\">\n                    <thead class=\"bg-gray-50 border-b border-gray-200\">\n                        <tr>\n                            <th class=\"px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider\">Application ID</th>\n                            <th class=\"px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider\">Property</th>\n                            <th class=\"px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider\">Details</th>\n                            <th class=\"px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider\">Application Date</th>\n                            <th class=\"px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider\">Status</th>\n                            <th class=\"px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider\">Link</th>\n                        </tr>\n                    </thead>\n                    <tbody class=\"divide-y divide-gray-200\">\n                        ${data.applications.map(app => `\n                        <tr class=\"hover:bg-gray-50\">\n                            <td class=\"px-6 py-4 whitespace-nowrap\">\n                                <span class=\"font-mono text-sm font-medium text-gray-900\">${app.id}</span>\n                            </td>\n                            <td class=\"px-6 py-4\">\n                                <div class=\"text-sm text-gray-900\">${app.propertyAddress}</div>\n                            </td>\n                            <td class=\"px-6 py-4\">\n                                <div class=\"text-sm text-gray-900\">\n                                    <div>${app.price}/month</div>\n                                    <div class=\"text-gray-500\">${app.rooms} rooms • ${app.furnished ? 'Furnished' : 'Unfurnished'}</div>\n                                </div>\n                            </td>\n                            <td class=\"px-6 py-4 whitespace-nowrap text-sm text-gray-500\">${app.applicationDate}</td>\n                            <td class=\"px-6 py-4 whitespace-nowrap\">\n                                <span class=\"px-3 py-1 rounded-full text-xs font-semibold border ${\n                                  app.status === 'pending' ? 'bg-yellow-100 text-yellow-800 border-yellow-200' :\n                                  app.status === 'scheduled' ? 'bg-blue-100 text-blue-800 border-blue-200' :\n                                  app.status === 'refused' ? 'bg-red-100 text-red-800 border-red-200' :\n                                  'bg-green-100 text-green-800 border-green-200'\n                                }\">\n                                    ${app.status.charAt(0).toUpperCase() + app.status.slice(1)}\n                                </span>\n                            </td>\n                            <td class=\"px-6 py-4 whitespace-nowrap\">\n                                <a href=\"${app.propertyUrl}\" target=\"_blank\" rel=\"noopener noreferrer\" \n                                   class=\"inline-flex items-center px-3 py-1.5 bg-blue-600 text-white text-sm font-medium rounded-lg hover:bg-blue-700\">\n                                    View\n                                </a>\n                            </td>\n                        </tr>\n                        `).join('')}\n                    </tbody>\n                </table>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        const userId = '${userId}';\n        const webhookBaseUrl = window.location.origin + '/webhook';\n\n        function loginGoogle() {\n            alert('Google Login integration coming soon!');\n            // Implement OAuth flow here\n        }\n\n        function insertCredentials() {\n            const username = prompt('Enter Pararius username:');\n            if (!username) return;\n            const password = prompt('Enter Pararius password:');\n            if (!password) return;\n            \n            alert('Credentials saved! (Integration coming soon)');\n            // Send to backend webhook to save credentials\n        }\n\n        function editPreferences() {\n            document.getElementById('preferences-view').classList.add('hidden');\n            document.getElementById('preferences-edit').classList.remove('hidden');\n            \n            document.getElementById('preference-actions').innerHTML = \\`\n                <div class=\"flex gap-2\">\n                    <button onclick=\"cancelEdit()\" class=\"px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition-colors font-medium\">\n                        Cancel\n                    </button>\n                    <button onclick=\"savePreferences()\" class=\"px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition-colors font-medium\">\n                        Save Changes\n                    </button>\n                </div>\n            \\`;\n        }\n\n        function cancelEdit() {\n            document.getElementById('preferences-view').classList.remove('hidden');\n            document.getElementById('preferences-edit').classList.add('hidden');\n            \n            document.getElementById('preference-actions').innerHTML = \\`\n                <button onclick=\"editPreferences()\" class=\"px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition-colors font-medium\">\n                    Edit Preferences\n                </button>\n            \\`;\n        }\n\n        async function savePreferences() {\n            const city = document.getElementById('edit-city').value;\n            const budget = parseInt(document.getElementById('edit-budget').value);\n            const rooms = parseInt(document.getElementById('edit-rooms').value);\n            const furnished = document.getElementById('edit-furnished').value === 'true';\n\n            try {\n                const response = await fetch(webhookBaseUrl + '/update-preferences', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({\n                        user_id: userId,\n                        location: city,\n                        max_price: budget,\n                        rooms: rooms,\n                        furnished: furnished\n                    })\n                });\n\n                if (response.ok) {\n                    alert('Preferences saved successfully!');\n                    window.location.reload();\n                } else {\n                    alert('Failed to save preferences. Please try again.');\n                }\n            } catch (error) {\n                console.error('Error:', error);\n                alert('Error saving preferences. Please try again.');\n            }\n        }\n    </script>\n</body>\n</html>`;\n\nreturn { html };"
      },
      "id": "3acbd128-1a9f-4d67-8623-20e18562a59f",
      "name": "Generate HTML Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        16
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "e006292d-7aa4-41be-aa8f-ef51316a5d57",
      "name": "Respond with HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1216,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Dashboard Request": {
      "main": [
        [
          {
            "node": "Get User Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Preferences": {
      "main": [
        [
          {
            "node": "Get All Announcements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Housing Applications": {
      "main": [
        [
          {
            "node": "Merge Application Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Application Data": {
      "main": [
        [
          {
            "node": "Generate HTML Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Page": {
      "main": [
        [
          {
            "node": "Respond with HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Announcements": {
      "main": [
        [
          {
            "node": "Get Housing Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "36e984b5-c4a9-43d8-9629-ff8fd56fa201",
  "meta": {
    "instanceId": "feb4948fe641076e7dcbd8c395c7dc887d3ffb358ba687397c39c2d35ecc3621"
  },
  "id": "IFI00Cba9sKzulof",
  "tags": []
}